<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Custom</a></li>
        <li><a href="/services">Sedan</a></li>
        <li><a href="/contact">Suv</a></li>
        <li><a href="/contact">truck</a></li>
    </ul>
</nav>